@charset "UTF-8";

body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(139, 36, 36);
    background-color: darkgoldenrod;
}
h2 {
    color: red;
}
p {
    color: rgb(90, 26, 26);
    text-align: justify;
}