@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    min-height: 100vh;
    background-image: url(imagens/madeira.jpg);
}

main {
    background-color: rgba(10, 10, 10, 0.897);
    min-width: 400px;
    max-width: 1200px;
    display: block;
    margin: auto;
    padding: 0px 0px 5px 10px;
}

section {
    color: white;
    padding: 30px 10px 10px 10px;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

section#comeco > img {
    display: block;
    width: 90%;
    min-width: 200px;
    max-width: 500px;
    margin: auto;
}

@font-face {
    font-family: 'METAL';
    src: url(fontes/Base\ 02.ttf);
}

header {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: linear-gradient(to bottom,black, rgb(32, 5, 5));
    box-shadow: 10px 10px 10px gray;
}

header > h1 {
    font-size: 3em;
    text-align: center;
    color: rgba(233, 20, 20, 0.945);
    font-family: METAL, Verdana, Geneva, Tahoma, sans-serif;
}

section#comeco > p {
    margin-bottom: 20px;
}

p {
    margin: 10px 0px;
    line-height: 1.5em;
}